<%= form_for(@tokimon) do |f| %>
  <% if @tokimon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tokimon.errors.count, "error") %> prohibited this tokimon from being saved:</h2>

      <ul>
      <% @tokimon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :tname %>
  </div>
  <div class="field">
    <%= f.label :Weight %><br>
    <%= f.number_field :tweight %>
  </div>
  <div class="field">
    <%= f.label :Height %><br>
    <%= f.number_field :theight %>
  </div>
  <div class="field">
    <%= f.label :Fly %><br>
    <%= f.number_field :fly %>
  </div>
  <div class="field">
    <%= f.label :Fight %><br>
    <%= f.number_field :fight %>
  </div>
  <div class="field">
    <%= f.label :Fire %><br>
    <%= f.number_field :fire %>
  </div>
  <div class="field">
    <%= f.label :Water %><br>
    <%= f.number_field :water %>
  </div>
  <div class="field">
    <%= f.label :Electric %><br>
    <%= f.number_field :electric %>
  </div>
  <div class="field">
    <%= f.label :Ice %><br>
    <%= f.number_field :ice %>
  </div>
  <div class="field">
    <%= f.label :Dark %><br>
    <%= f.number_field :dark %>
  </div>
  <div class="field">
    <%= f.label :Psychic %><br>
    <%= f.number_field :psychic %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.number_field :total %>
  </div>
  <div class="field">
    <%= f.label :trainer_id %><br>
    <%= f.number_field :trainer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
