<p id="notice"><%= notice%></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.trname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @trainer.trlevel%>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer), {style:"margin-left:15px;"}%> |
<%= link_to 'Back', trainers_path %>
